@{
    ViewData["Title"] = "Welcome";
    Layout = "_Layout";
}

<div class="auth-page">

    <div class="auth-left">
        <div class="auth-box">

            <h1>Welcome to <span>StudyFlow</span></h1>
            <p class="subtitle">
                Organize your subjects and evaluations
            </p>

            <a asp-controller="Login"
               asp-action="Index"
               class="primary-btn">
                Login
            </a>

            <p class="switch-text">
                Don’t have an account?
                <a asp-controller="Register" asp-action="Create">
                    Create one
                </a>
            </p>

        </div>
    </div>

    <div class="auth-right">
        <div class="image-placeholder">
            StudyFlow
        </div>
    </div>

</div>
